{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<div class="form-container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn" style="display: inline" href="{{ path('category_edit', {'id': category.id}) }}">Edit</a>
                    {{ include('crud/category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('category_new') }}">Create new</a>
</div>
{% endblock %}
