{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }} €</td>
                <td>{{ include('order/add_product_to_cart.html.twig') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('order') }}">Back to list</a>
{% endblock %}
